<?xml version="1.0" encoding="UTF-8"?>
<!-- With status you can configure the log level for log4j internal logs -->
<configuration status="warn" packages="org.graylog2.log4j2" monitorInterval="30">
    <appenders>
        <File name="fileAppender" fileName="boot.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%ex%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} :%4p %t %c{1.} (%F:%L) - %X{first} %X{last} - %m %ex %n"/>
        </Console>

        <Console name="CLASS_INFO" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%thread][%class{0}.%method\(\):%line][%logger{0}] %m%n"/>
        </Console>
        <Console name="NO_CLASS_INFO" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} %-5level [%thread][LoggerTest.testClassInfo\(\):30][%logger{0}] %m%n"/>
        </Console>
    </appenders>
    <loggers>
        <logger name="de.fred4jupiter.log4j2.demo" level="DEBUG"/>
        <root level="trace">
            <!--<appender-ref ref="CLASS_INFO"/>-->
            <appender-ref ref="NO_CLASS_INFO"/>
        </root>
    </loggers>
</configuration>