<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- http://code.google.com/p/xmemcached/wiki/Spring_Integration -->
    <context:property-placeholder location="memcached.properties"/>
    <framework.bean
            id="memcachedClientBuilder"
            class="net.rubyeye.mc.xmemcached.XMemcachedClientBuilder"
            p:connectionPoolSize="${mc.memcached.connectionPoolSize}"
            p:failureMode="${mc.memcached.failureMode}">
        <!-- XMemcachedClientBuilder have two arguments.First is server list,and
            second is weights array. -->
        <constructor-arg>
            <list>
                <framework.bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>${mc.memcached.server1.host}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>${mc.memcached.server1.port}</value>
                    </constructor-arg>
                </framework.bean>
                <!--<framework.bean class="java.net.InetSocketAddress">-->
                    <!--<constructor-arg>-->
                        <!--<value>${mc.memcached.server2.host}</value>-->
                    <!--</constructor-arg>-->
                    <!--<constructor-arg>-->
                        <!--<value>${mc.memcached.server2.port}</value>-->
                    <!--</constructor-arg>-->
                <!--</framework.bean>-->
                <!--<framework.bean class="java.net.InetSocketAddress">-->
                    <!--<constructor-arg>-->
                        <!--<value>${mc.memcached.server3.host}</value>-->
                    <!--</constructor-arg>-->
                    <!--<constructor-arg>-->
                        <!--<value>${mc.memcached.server3.port}</value>-->
                    <!--</constructor-arg>-->
                <!--</framework.bean>-->
                <!--<framework.bean class="java.net.InetSocketAddress">-->
                    <!--<constructor-arg>-->
                        <!--<value>${mc.memcached.server4.host}</value>-->
                    <!--</constructor-arg>-->
                    <!--<constructor-arg>-->
                        <!--<value>${mc.memcached.server4.port}</value>-->
                    <!--</constructor-arg>-->
                <!--</framework.bean>-->
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <value>${mc.memcached.server1.weight}</value>
                <value>${mc.memcached.server2.weight}</value>
                <value>${mc.memcached.server3.weight}</value>
                <value>${mc.memcached.server4.weight}</value>
            </list>
        </constructor-arg>
        <property name="commandFactory">
            <framework.bean class="net.rubyeye.mc.xmemcached.command.TextCommandFactory"/>
        </property>
        <property name="sessionLocator">
            <framework.bean class="net.rubyeye.mc.xmemcached.impl.KetamaMemcachedSessionLocator"/>
        </property>
        <property name="transcoder">
            <framework.bean class="net.rubyeye.mc.xmemcached.transcoders.SerializingTranscoder"/>
        </property>
    </framework.bean>
    <!-- Use factory framework.bean to build mc.memcached client -->
    <framework.bean
            id="memcachedClient"
            factory-framework.bean="memcachedClientBuilder"
            factory-method="build"
            destroy-method="shutdown"/>
</beans>